---
version: 2
enable-beta-ecosystems: true
updates:
  - package-ecosystem: uv
    directory: "/"
    schedule:
      interval: weekly
      time: "06:25"
    open-pull-requests-limit: 2
    commit-message:
      prefix: "build(deps): "
      prefix-development: "chore(deps): "
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      time: "06:35"
    open-pull-requests-limit: 1
    commit-message:
      prefix: "chore(deps): "
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
      time: "06:45"
    open-pull-requests-limit: 1
    commit-message:
      prefix: "build(deps): "
      prefix-development: "chore(deps): "
  - package-ecosystem: "pre-commit"
    directory: "/"
    schedule:
      interval: weekly
      time: "06:55"
    open-pull-requests-limit: 1
    commit-message:
      prefix: "chore(deps): "
