[user]
    name = "Łukasz Skarżyński"
    email = skarzynski_lukasz@protonmail.com
[core]
    editor = vim
    eol = lf
    autocrlf = false
    excludesfile = ~/dotfiles/git/Global.gitignore
[init]
    defaultBranch = main
[merge]
    tool = vimdiff
[pull]
    rebase = false
[alias]
    count = "!f() {\
            branch_to_compare=${1-master};\
            git rev-list --count HEAD ^$branch_to_compare;\
        }; f"
    squashbase = "!f() {\
            branch_name=${1-master};\
            commits_count=$(git count $branch_name);\
            git rebase -i HEAD~$commits_count;\
        }; f"
    pul = "pull"
    pullbase = "!f() {\
            branch_name=${1-master};\
            git checkout $branch_name && git pull && git checkout - && \
            git rebase -i $branch_name;\
        }; f"
    l = log
    ls = log \
            --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" \
            --decorate
    ll = log \
            --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" \
            --decorate \
            --numstat
    last = log -n 1
    llast = log \
            --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" \
            --decorate \
            --numstat \
            -n 1
    grep = grep -Ii
    graphlog = log \
        --graph \
        --pretty='''%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset''' \
        --abbrev-commit
    st = status
    s = status -s
    please = push --force-with-lease
    commend = commit --amend --no-edit --reset-author
    init-with-commit = "!git init && git commit -m 'initial commit' --allow-empty"
    ad = add
    addp = add --patch
    adp = addp
    undo = reset --soft HEAD^
    alias-branch = "!f() { \
        branch=${1}; \
        target_branch=${2:-main}; \
        git symbolic-ref refs/heads/$branch refs/heads/$target_branch \
        && git symbolic-ref \
        refs/remotes/origin/$branch \
        refs/remotes/origin/$target_branch; \
    }; f"

[includeIf "gitdir:**/work/**"]
    path = ~/dotfiles/git/Work.gitconfig
