# Tools
.gemini/

# Window Managers
.i3/i3log

# Testing
.shellspec*.log

# Environments
.venv/
node_modules/

# Editors
.vim/.netrwhist
.vim/bundle
.vim/spell
nvim/lazy-lock.json

# Credentials
gha-creds-*.json

# Personal
notes/
