snippet ngm "Angular ng-model" i
ng-model="${1:model_name}"
endsnippet

snippet ngi "Angular ng-if" i
ng-if="${1:expression}"
endsnippet

snippet ngs "Angular ng-show" i
ng-show="${1:expression}"
endsnippet
