snippet $s "$scope" b
$scope.${1:variable} = ${2:value};
endsnippet

snippet ngm "angular module" b
angular.module('${1:module_name}', [$2])
endsnippet

snippet ngc "angular controller" b
.controller('${1:controller_name}', [${2:$scope}, function($3) {
  $0
}])
endsnippet
