# shellcheck shell=bash

{{- if eq .chezmoi.os "linux" }}
# Colors
if [[ -x /usr/bin/dircolors ]]; then
  if [[ -r "${HOME}/.dircolors" ]]; then
    eval "$(dircolors -b "${HOME}/.dircolors")"
  else
    eval "$(dircolors -b)"
  fi

  alias ls='ls --color=auto'
  alias grep='grep --color=auto'
  alias fgrep='fgrep --color=auto'
  alias egrep='egrep --color=auto'
fi
{{- end }}

# Filesystem Navigation
alias ..="cd .."

# File Listing
alias l='ls -CF'
alias sl='ls'
alias ll='ls -l'
alias la='ls -A'
alias lla='ls -lA'
alias lls='ls -l'

# Vim
alias v='vim'
alias ivm='vim'
alias vmi='vim'
alias vin='vim'
alias nv='nvim'
alias n='nvim'

# Utilities
alias cat="bat --theme=TwoDark"
alias time='time -p'
alias pingg='ping 8.8.8.8'

{{- if eq .chezmoi.os "linux" }}
# System Configuration
alias i3conf="vim \${HOME}/.i3/config"
alias reload_Xre="xrdb -load \${HOME}/.Xresources"
# shellcheck disable=SC2154  # Variable $f is provided by scrot command
alias sscrot="scrot -s -e \"mv \\\$f \${HOME}/pictures/screenshots\""
{{- end }}

# Python
alias de='deactivate'
alias mk='pyenv virtualenvwrapper && mkvirtualenv'
alias pip_upgrade_all='pip freeze | cut -d = -f 1 | xargs pip install -U'
alias rm_pyc="find . -type d -name __pycache__  \
    -o \( -type f -name '*.py[co]' \) -print0 \
    | xargs -0 rm -rf"

# Custom Scripts
alias dotfiles="tmux attach -t dotfiles 2>/dev/null || (cd ~/dotfiles/ && tmuxp load .tmux/workspaces/dotfiles.yaml)"
alias add_ssh_key="bash \${HOME}/dotfiles/bin/add_ssh_key.sh"
{{- if eq .chezmoi.os "linux" }}
alias toggle_trackpad="bash \${HOME}/dotfiles/bin/toggle_trackpad.sh"
{{- end }}

# Git
alias g='git'
alias gi='git'
alias igt='git'
alias gt='git'
alias git-root='cd "$(git rev-parse --show-toplevel)"'

# Docker
alias dr='docker'
alias docker-compose='docker compose'
alias dc='docker compose'
alias dc_run='docker compose run --rm'

# Tmux
alias tm='tmux'
alias tat='tmux attach -t'

{{- if eq .chezmoi.os "linux" }}
# Display Configuration
alias xrandr_home="xmodmap \${HOME}/.Xmodmap \
    && xrandr \
    --output DP2-2 --mode 1920x1200 --pos 0x0 \
    --output eDP1 --mode 1920x1080 --pos 1990x0"
alias xrandr_home2="xmodmap \${HOME}/.Xmodmap \
    && xrandr \
        --output DP2-2 --auto --left-of eDP1"
alias xrandr_notebook="xmodmap \${HOME}/.Xmodmap && xrandr --output eDP1 --auto"
{{- end }}

{{- if eq .env "work" }}
{{ include ".encrypted_data/work/bash_aliases.sh.age" | decrypt }}
{{- end }}
