#!/usr/bin/env bash
# shellcheck shell=bash

set -eufo pipefail

# defaults.yaml.tmpl hash:
# {{ include "dot_config/macos-defaults/defaults.yaml.tmpl" | sha256sum }}

if command -v macos-defaults >/dev/null 2>&1; then
  echo "Applying macOS defaults from ~/.config/macos-defaults/defaults.yaml..."
  macos-defaults apply "${HOME}/.config/macos-defaults/defaults.yaml"
else
  echo "Warning: 'macos-defaults' tool not found. Skipping defaults application."
  echo "Ensure chezmoi's 'run_onchange_install.sh.tmpl' script is ran."
fi
