#!/usr/bin/env bash
# shellcheck shell=bash

set -eufo pipefail

# macos-defaults.yaml hash:
# {{ include (joinPath .chezmoi.homeDir "dotfiles/macos-defaults.yaml") | sha256sum }}

if command -v macos-defaults >/dev/null 2>&1; then
  echo "Applying macOS defaults from ~/dotfiles/macos-defaults.yaml..."
  macos-defaults apply "{{ .chezmoi.homeDir }}/dotfiles/macos-defaults.yaml"
else
  echo "Warning: 'macos-defaults' tool not found. Skipping defaults application."
  echo "Ensure chezmoi's 'run_onchange_install.sh.tmpl' script is ran."
fi
