#!/usr/bin/env bash
# shellcheck shell=bash

set -euo pipefail

EXISTING_CONFIG="$(cat)"

BASE_CONFIG=$(
  cat <<'EOF'
personality = "pragmatic"
model = "gpt-5.6-sol"
model_reasoning_effort = "high"
model_verbosity = "low"
plan_mode_reasoning_effort = "xhigh"

[features]
memories = true
multi_agent = true

[memories]
use_memories = true

[tui]
vim_mode_default = true

[projects."{{ .chezmoi.homeDir }}/dotfiles"]
trust_level = "trusted"
EOF
)

if [[ -z "${EXISTING_CONFIG}" ]]; then
  echo "${BASE_CONFIG}"
else
  # shellcheck disable=SC2016 # yq uses $config_doc in expression
  yq \
    -p toml \
    -o toml eval-all '. as $config_doc ireduce ({}; . * $config_doc)' \
    <(echo "${EXISTING_CONFIG}") \
    <(echo "${BASE_CONFIG}")
fi
