---
name: CI
"on":
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: "Setup python 3.x"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
          cache: pip
      - name: "Setup node"
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "npm"
      - name: "Setup Go"
        uses: actions/setup-go@v6
        with:
          go-version: "stable"
          cache: true
      - name: "Setup Rust"
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache-all-crates: true
          cache-bin: true
      - name: "Install actionlint"
        shell: bash
        run: |
          set -euo pipefail

          _ACTIONLINT_INSTALL_URL="https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash"
          bash <(curl "${_ACTIONLINT_INSTALL_URL}") latest /usr/local/bin
      - name: "Install Go dependencies"
        shell: bash
        run: |
          set -euo pipefail

          go install github.com/checkmake/checkmake/cmd/checkmake@latest
          go install mvdan.cc/sh/v3/cmd/shfmt@latest
          echo "${HOME}/go/bin" >> "${GITHUB_PATH}"
      - name: "Install ShellSpec"
        shell: bash
        run: |
          set -euo pipefail

          curl \
            --fail \
            --silent \
            --show-error \
            --location https://git.io/shellspec \
          | sh -s -- --yes
      - name: "Install pre-commit"
        shell: bash
        run: |
          set -euo pipefail

          pip install --user pre-commit
          echo "${HOME}/.local/bin" >> "${GITHUB_PATH}"
      - name: "Install dependencies"
        run: |
          set -euo pipefail

          sudo apt-get update
          sudo apt-get install --yes shellcheck
          make install
      - name: "Lint"
        run: pre-commit run --all-files
      - name: "Test shell scripts"
        run: make test-bin
