---
name: CI
'on':
  push:
    branches:
      - main
    tags:
      - '**'
  pull_request:
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: setup python 3.x
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
          cache: pip
      - name: setup latest node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: install dependencies
        run: |
          sudo apt-get install shellcheck
          curl \
            --fail \
            --silent \
            --show-error \
            --location https://git.io/shellspec \
          | sh -s -- --yes
          make install
          npm install
      - name: lint files
        run: make lint
      - name: test scripts
        run: make test_bin
      - name: lint commit messages
        uses: wagoid/commitlint-github-action@v6.2.1
        with:
          failOnWarnings: true
