---
name: misspell
'on':
  schedule:
    - cron: '25 6 * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - uses: sobolevn/misspell-fixer-action@master
      - uses: peter-evans/create-pull-request@v7.0.9
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          commit-message: "fix: fix typos by misspell-fixer"
          title: "fix: fix typos by misspell-fixer"
          branch: fix_typos-by-misspell-fixer
          delete-branch: true
          reviewers: skarzi
